body{
    background-color:red;
    text-align: center;    
}

.signin_body{
    text-align: left;
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 7%;
}

label{
    font-size: 10px;
}

input{
    width: 70%;
    background-color:inherit;
    border: none;
    border-bottom: 1.5px solid white;
    margin-bottom: 20px;
}

.header p{
    font-size: 10px;
    margin-bottom: 20px;
}

.footer {
    float: left;
    margin-top: 25px;
    font-size: 12px;
}

.footer input{
    width: auto;
}

.footer a{
    float: right;
}

.footer button{
    width: 95%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 8px;
    border: none;
    background-color: white;
    color: red;
}









.signup_body{
    text-align: left;
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 7%;
}

.signup_body{
    background-color:white;
}

.signup_body button{
    background-color: red;
    border: none;
    width: 90%;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color:white;
}

.signup_body p{
    margin-left: 25%;
    font-size: 13px;
}

.signup_body input{
    border-bottom: 1.5px solid black;
    width: 90%;
}

.signup_header{
    width: 100%;
    height: 20px;
    background-color: red;
}

.signup_head{
    width: ;
}